{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Online Courses Portal</title>
  </head>
  <body bgcolor="#dc143c">
    <table align="center" border="0" width="1300">
        <tr style="text-align: center;font-family:fantasy;font-size:55px;padding: 15px;
        color: #047932;background-color: #0437bb;text-shadow: black 5px 5px 5px">
            <th>
                <img src="{% static 'images/swayam-portal1.jpg' %}"width="150" height="140">
            </th>
            <th>
                SWAYAM ONLINE COURSES REGISTRATIONS
            </th>
            <th><img src="{% static 'images/unnamed.jpg' %}" width="140" height="140"></th>
            </tr>

            <tr>
                <th  colspan="3" style="align-content: center;color: #0511fa" >
                    {% block menu %}
                        {% include 'main_menu.html' %}
                    {% endblock %}
                </th>
            </tr>
            <tr>
                <th colspan="3">
                    {% block main  %}

                    {% endblock %}
                </th>
            </tr>
        <tr style="text-align: center;color: navy;background-color: #8b0131;font-family: 'Times New Roman';
                    font-size:20px;text-shadow: #842323 3px 3px 3px" >
            <th colspan="3">
            Copyrights@python with Venky
            </th>
        </tr>
    </table>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>