{% extends 'common.html' %}
{% block main %}
    {% load static %}
    <table align="center">
    <tr>
        <th>
            <img src="{% static 'images/phone (1).png' %}">
        </th>
        <th>
            <h4  style="font-family: fantasy;color: brown">Contact :</h4>
            <p style="font-family: 'Adobe Gurmukhi';color: #6e06e5">
            Mobile No's: +91 9603552190,+91 995903340<br>Toll free Number(1): 1800 121 9025<br>Toll free Number(1):011-29652322
            </p>

        </th>
    </tr>
    <tr>
        <th>
            <img src="{% static 'images/office.png' %}">
        </th>
        <th>
            <h4 style="font-family: fantasy;color: brown">Head Office Address:</h4>
            <p style="font-family: 'Adobe Gurmukhi';color: #6e06e5"><a href="https://www.google.com/maps/search/Aruna+Asaf+Ali+Marg,+New+Delhi,+Campus,+Aruna+Asaf+Ali+Marg,+New+Delhi+%E2%80%93+110+067./@28.5320919,77.1589493,14z/data=!3m1!4b1">
                Aruna Asaf Ali Marg,<br>
                New Delhi,<br>
                Campus, Aruna Asaf Ali Marg, New Delhi – 110 067.</a>
            </p>
            <p>
                 <h5 style="font-family: fantasy;color: brown">Office Address:</h5>
            </p>
            <p style="font-family: 'Adobe Gurmukhi';color: #6e06e5">
                <a href="https://www.google.com/maps/place/Indira+Gandhi+National+Open+University+-+Head+Office/@28.5013444,77.1947383,15.31z/data=!4m5!3m4!1s0x390ce1de5ee6fbed:0x17e4392a594a1e19!8m2!3d28.5024727!4d77.1987716">
                    Centre for Online Education, <br>
                    Dr. Radhakrishnan Block 17, <br>
                    IGNOU, Maidan Garhi, New Delhi 110 068
                </a>
            </p>
        </th>
    </tr>
    <tr>
        <th>
            <img src="{% static 'images/mail.png' %}">
        </th>
        <th>
            <h4 style="font-family: fantasy;color: brown" >Email :</h4>
            <p style="font-family: 'Adobe Gurmukhi';color: #6e06e5">
                @ ignou.swayam@ignouonline.com<br>
                @dvenkata546@gmail.com
            </p>

        </th>
    </tr>
    </table>
{% endblock %}