{% extends 'common.html' %}
{% block main %}
 {% load static %}
 <table align="center" border="0" bgcolor="#bde0d7"width="1100">
    <tr>
        <th style="font-family: cursive;color: #ef8946">
            <h2 style="text-align:center;font-family: fantasy;color: #842323"> ABOUT SWAYAM </h2>
            <p style="text-align:center;color: #6e06e5">
                <p>
                    SWAYAM is a programme initiated by Government of India and designed to achieve the three cardinal principles of Education Policy viz., access, equity and quality.
                    The objective of this effort is to take the best teaching learning resources to all, including the most disadvantaged.
                    SWAYAM seeks to bridge the digital divide for students who have hitherto remained untouched by the digital revolution and have not been able to join the mainstream of the knowledge economy
                </p>
                <p>
                    This is done through a platform that facilitates hosting of all the courses, taught in classrooms from Class 9 till post-graduation to be accessed by anyone, anywhere at any time.
                    All the courses are interactive, prepared by the best teachers in the country and are available, free of cost to any learner. More than 1,000 specially chosen faculty and teachers from across the country have participated in preparing these courses.
                    The courses hosted on SWAYAM are in 4 quadrants
                </p>
                <p>
                    Those Are :<br>
                    (1) video lecture,<br>
                    (2) specially prepared reading material that can be downloaded/printed <br>
                    (3) self-assessment tests through tests and quizzes <br>
                    (4) an online discussion forum for clearing the doubts.
                </p>
                <p>
                Steps have been taken to enrich the learning experience by using audio-video and multi-media and state of the art pedagogy / technology.
                In order to ensure that best quality content is produced and delivered, nine National Coordinators have been appointed. They are:
            </p>
        </th>
    </tr>
     <tr>
      <th style="font-family: cursive;color: #ef8946">
                <p>AICTE (All India Council for Technical Education) for self-paced and international courses</p>
                <p>NPTEL (National Programme on Technology Enhanced Learning) for Engineering</p>
                <p>UGC (University Grants Commission) for non technical post-graduation education</p>
                <p>CEC (Consortium for Educational Communication) for under-graduate education</p>
                <p>NCERT (National Council of Educational Research and Training) for school education</p>
                <p>NIOS (National Institute of Open Schooling) for school education</p>
                <p>IGNOU (Indira Gandhi National Open University) for out-of-school students</p>
                <p>IIMB (Indian Institute of Management, Bangalore) for management studies</p>
                <p> NITTTR (National Institute of Technical Teachers Training and Research) for Teacher Training programme</p>
        </th>
    </tr>
    <tr>
        <th  >
            <p style="font-family: cursive;color: #ef8946">
                Courses delivered through SWAYAM are available free of cost to the learners, however learners wanting a SWAYAM certificate should register for the final proctored exams that come at a fee and attend in-person at designated centres on specified dates.
                Eligibility for the certificate will be announced on the course page and learners will get certificates only if this criteria is matched. Universities/colleges approving credit transfer for these courses can use the marks/certificate obtained in these courses for the same.
            </p>
        </th>
    </tr>
 <tr>
        <th>
            <iframe width="300" height="200" src="https://www.youtube.com/embed/6WpBAsIqr9M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </th>
    </tr>
 </table>
{% endblock %}
