
{% extends 'common.html' %}
{% block menu %}
    {% include 'student_home_menu.html' %}
{% endblock %}
{% block main %}
    {% load static %}
    <table align="center" >
   <tr>

        <th>
            <img src="{% static 'images/hd-png.png' %}" height=300"width="300">
        </th>
       <th style="font-family: 'Agency FB';color: #8b0131">
                <h1> Welcome->Mr/Miss {{ data.Name }}</h1>
                <h2>Contact Number:{{ data.contact }} </h2>
       </th>
    </tr>
    </table>
{% endblock %}