{% extends 'common.html' %}
{% block main %}
    <table align="center" border="0" bgcolor="#fff8dc">
    <h1 style="font-size: 35px;font-family: 'Adobe Gurmukhi';color: #ad24e0;text-align: center">FREQUENTLY ASKED QUESTIONS (FAQ)</h1>
   <tr>
       <th>
           <h3 style="text-align: justify;font-family: 'Times New Roman';color: darkred">1) What is SWAYAM ?</h3>
           <P style="text-align: justify;font-family: 'Times New Roman';font-size: 15px;color: #04522b">
            SWAYAM (Study Webs of Active-learning for Young Aspiring Minds); India Chapter of Massive Open Online Courses. SWAYAM is an
            indigenous developed IT platform, initiated by Government of India, which is instrumental for self-actualisation providing opportunities
            for a life-long learning.
           </P>
       </th>
   </tr>
    <tr>
        <th>
            <h3 style="text-align: justify;font-family: 'Times New Roman';color: darkred">2) For which standard & discipline, the Courses shall be delivered through SWAYAM?</h3>
            <p style="text-align: justify;font-family: 'Times New Roman';font-size: 15px;color: #014524">
                The SWAYAM shall facilitate hosting of all the courses, taught in classrooms from 9th class till post-graduation and hundreds of courses
                covering virtually every course that is taught at the university/college/school level and these shall be offered by best of the teachers
                in India. The curriculum based course contents shall also cover diverse disciplines such as arts, science, commerce, performing
                arts, social sciences and humanities subjects, engineering, technology, law, medicine, agriculture etc. in higher education domain
                (all courses would be certification-ready in their detailed offering)
            </p>
        </th>
    </tr>
    <tr>
        <th>
            <h3 style="text-align: justify;font-family: 'Times New Roman';color: darkred">3) Can any person in the world register a Course on SWAYAM?</h3>
                <p style="text-align: justify;font-family: 'Times New Roman';font-size: 15px;color: #046636">
                    Yes, any person in the world can register a Course on SWAYAM.
                </p>
        </th>
    </tr>
    <tr>
        <th>
            <h3 style="text-align: justify;font-family: 'Times New Roman';color: darkred">4)What Courses are planned & who can deliver the MOOCs on SWAYAM?</h3>
            <p style="text-align: justify;font-family: 'Times New Roman';font-size: 15px;color: #024926">
                Learner can choose from hundreds of courses, virtually every course that is taught at the university/college/school level and these
                shall be offered by best of the teachers in India and elsewhere. More than 1,000 specially chosen teachers and lecturers from across the
                Country have participated in preparing these courses.
            </p>
        </th>
    </tr>
    <tr>
        <th>
            <h3 style="text-align: justify;font-family: 'Times New Roman';color: darkred">
                Are the Courses on SWAYAM going to
                be on charge basis?</h3>
            <p style="text-align: justify;font-family: 'Times New Roman';font-size: 15px;color: #024926">
                The courses delivered through SWAYAM are available free of cost to the learners, however students wanting certifications shall be registered and offered a certificate on
                successful completion of the course, with a little fee. At the end of each course, there will be an assessment of the student through
                proctored examination and the marks/grades secured in this exam could be transferred to the academic record of the students. UGC has already issued
            </p>
        </th>
    </tr>
     </table>
{% endblock %}